@media screen and (min-width: 1024px)
{	
 
 #bandeaucentre {
 	width:1024px;
}	

#menuhautcentre {
	width:1024px;	
}

#maincentre {
	width:1024px;	
}

#piedcentre {
	width:1024px;
}

#droite 
{
	font-size:0.9em;
	display:flex;
	flex-direction:column;
	align-items:center;	
	width:310px;
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;
	margin-left:10px;
}

.pubdroite
{
	width:300px;
	height:600px;
	padding-left:10px;
	border-color:rgb(212,212,212);
	border-width:0px 0px 0px 1px;
	border-style:solid;
}

#gauche
{
	width:714px;
	padding-bottom:10px;
}
   
}

@media screen and (max-width: 1023px) and (min-width:910px) {
#bandeau {	
   width:100%;
}

 #bandeaucentre {
 	width:100%
}	

#menuhaut {
	width:100%
}

#menuhautcentre {
	width:100%
}

#sousmenuhaut {
	width:100%
}

#sousmenuhautcentre {
	width:100%
}

#maincentre {
	width:100%
}

#pied {
	width:100%
}

#piedcentre {
	width:100%
}


#droite {
	display:none;
}

#gauche
{
	width:100%;
	padding-bottom:10px;
}

}

@media screen and (min-width:910px) {
	
#bandeau {
    background:rgb(85,0,0);
   height:60px;
   overflow:hidden;
   max-width:1300px;
   margin-left:auto;
   margin-right:auto;
  }	
  
#bandeaucentre {
   display:flex;
   justify-content:space-between;
   align-items:center;
   margin:0px auto;
   height:60px;
   background:#AA3939;
}  
	
#bandeaulogo
{
   background:#AA3939;
   color:#FFFFFF;
   font-family:"Avenir Book", "Avenir", "Lucida sans", "Verdana", "Trebuchet MS",sans-serif; 
   font-size:2.5em;
   height:60px;
   padding-left:10px;
}

#bandeaumilieu
{
	display:flex;
	align-items:center;
	color:white;
}

#bandeaumilieu img 
{
	margin-left:5px;
	margin-right:5px;
}

#bandeaurecherche
{
	display:flex;
	align-items:center;
 	background:white;
 	height:30px;
 	overflow:hidden;
 	margin-right:10px;
}	

.formulairerecherche
{
	margin: 0px;
}	

.inputrecherche
{
	width:223px;
	font-family:'Source Sans Pro',Helvetiva;
	font-size:14px;
	padding-left:12px;
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	border:0px;
	max-height:30px;
	margin:auto;
}

.boutonrecherche
{
	border:0px;
	border-radius:0px;
	width:28px;
	height:26px;
	padding:5px;
	font-size:0px;
	border:none;
    background: transparent url(../img/recherche.png) no-repeat;
    background-position:0px 0px;
}

#menuhaut {
   background:rgb(128,21,21);
   height:40px;
   overflow:hidden;
   max-width:1300px;
   margin-left:auto;
   margin-right:auto;	
	
}

#menuhautcentre {
	display:flex;
	align-items:center;
	background:rgb(212,106,106);
	height:40px;
	margin:0px auto;
}

#listemenuhaut
{
	display:flex;
	align-items:center;
	text-align:center;
}

#listemenuhaut .item
{
	display:flex;
	align-items:center;
	margin:0;
	padding-left:10px;
	padding-right:10px;
	list-style:none;
	height:40px;
	color:#FFFFFF;
}

#listemenuhaut a
{
	color:#FFFFFF;
	font-style:normal;
}

#listemenuhaut .itemselectionne
{
	display:flex;
	align-items:center;
	margin:0;
	padding-left:10px;
	padding-right:10px;
	list-style:none;
	height:50px;
	color:#FFFFFF;
	background:rgb(85,0,0);
}	

#listemenuhaut .item:hover
{
	background:rgb(255,170,170);
}


#listemenuhaut img
{
	padding-right:3px;
}

#sousmenuhaut {
   background:rgb(238,238,238);
   height:120px;
   overflow:hidden;
   max-width:1300px;
   margin-left:auto;
   margin-right:auto;	
	
}


#main {
   margin-bottom:5px;
   margin-left:auto;
   margin-right:auto;
   overflow:hidden;
   max-width:1300px;
   background:rgb(238,238,238);
}

#maincentre {
	display:flex;
	justify-content:space-between;
	margin: auto;
	background:#FFFFFF;
	min-height:100%;
	padding-bottom:10px;
}

.decale {
	margin-top:40px;
}

.fixed {position:fixed;width:100%;top:0;left:0;z-index:9999;}

/* .fixeddroite {position:fixed;top:40;right:-40;z-index:9999;} */


#pied {
   background:rgb(128,21,21);
   height:100px;
   overflow:hidden;
   max-width:1300px;
   margin-left:auto;
   margin-right:auto;	
	
}

#piedcentre {
	display:flex;
	align-items:center;
	background:rgb(216,106,106);
	height:25px;
	margin:0px auto;
}

#listepied
{
	display:flex;
	align-items:center;
}

#listepied .item
{
	display:flex;
	align-items:center;
	margin:0;
	padding-left:10px;
	padding-right:10px;
	height:25px;
	color:#FFFFFF;
}

#listepied a
{
	color:#FFFFFF;
	font-style:normal;
}

#listepied .item:hover
{
	background:rgb(111,0,24);
}

.imgbios
{
	float:right;
	margin:0.8em;
	margin-right:0;
	width:250px;
}

.imgdroite
{
	float:right;
	margin:0.8em;
	margin-right:0;
}

#contenugauche{
	padding-top:20px;
	padding-left:7px;
	padding-right:7px;
    	width:100%;	
}

#contenugauche h1 {
	font-size:1.7em;
	display:block;
	width:80%;
  color: rgb(119,0,24);
  font-weight:bold;
  margin:auto;
  	margin-top:25px;
  margin-bottom:20px;
  text-align:center;
  }

#bandeaumobile
{
	display:none;
}

#recherchemobile
{
	display:none;
}

#pubhaut{
	padding-top:10px;
	margin:auto;
    text-align:center;
	height:110px;
	width:100%;
}

#pubresponsive
{
	display:none;
}

#menumobile
{
	display:none;
}

#piedmobile
{
	display:none;
}

.listesurdeuxcolonnes
{
    column-count: 2;
    -webkit-column-count:2;
    -moz-column-count:2;        
}


}



@media screen and (max-width:909px) {

body {
	margin:0px;
	box-sizing:border-box;
}

#bandeau {
   display:none;
}
#menuhaut {
  display:none;
  } 
 
.decale {
}

.fixed {}

#droite{
	display:none;
}

#sousmenuhaut {
	display:none;
}

#maincentre {
	margin:8px;
}

#pubhaut {
	display:none;
}

#pied {
	display:none;
}

#bandeaumobile {
   position:fixed;
   top:0px;
   width:100%;
   height:45px;
   background:#AA3939;	
	font-family:"Avenir Book", "Avenir", "Lucida sans", "Verdana", "Trebuchet MS",sans-serif; 
	font-size:1.5em;	
	color:#FFFFFF;
	font-variant:small-caps;
	display:flex;
	justify-content:space-between;
	align-items:center;
	z-index:100;
}

#bandeaumobile img {
	height:32px;
	width:32px;
}

#bandeaumobile a {
	display:flex;
}	

.sousbandeaumobile
{
	height:45px;
	display:flex;
	align-items:center;
}

#recherchemobile {
	margin-top:45px;
	width:100%;
	z-index:100;
	display:none;
	background-color:#AA3939;
	height:56px;
	overflow:hidden;
	padding:10px 10px;
	box-sizing:border-box;
}

#formrecherchemobile {
	background-color:white;	
	height:30px;
	width:100%;	
	display:table;
	border-spacing:5px;
}

.divinputrecherche{
	display:table-cell;
	vertical-align:middle;
	height:24px;
}

.inputrecherche
{
	font-family:'Source Sans Pro',Helvetica;
	padding-top:0px;
	padding-bottom:0px;
	height:24px;
	border:0px;
	font-size:1em;
	width:100%;
}

.divboutonmobile{
	        display:table-cell;
	vertical-align:middle;   
	width:30px;
}

.boutonrecherche
{
	border:0px;
	border-radius:0px;
	width:28px;
	height:24px;
	padding-bottom:0px;
	font-size:0px;
	border:none;
    background: transparent url(../img/recherche.png) no-repeat;     
    box-sizing:border-box;
}



#menumobile
{
	margin-top:45px;
	width:100%;
	background:rgb(42,42,42);
	color:rgb(165,165,165);
	z-index:100;
	display:none;
}

.itemmenumobile
{
	box-sizing:border-box;
	width:100%;	
	border-style:solid;
	border-width:0px 0px 1px 10px;
	border-color:rgb(0,0,0) rgb(0,0,0) rgb(85,85,85) rgb(42,42,42);
	overflow:hidden;
	padding-left:10px;
}


.itemmenumobileselectionne
{
	box-sizing:border-box;
	width:100%;	
	border-style:solid;
	border-width:0px 0px 1px 10px;
	border-color:rgb(0,0,0) rgb(0,0,0) rgb(85,85,85) #922222;
	overflow:hidden;
	padding-left:10px;
}

.teteitemmenumobile
{
	display:flex;
	align-items:center;
	height:46px;
}

.containermenumobile
{
	height:100%;
	width:100%;
	overflow:hidden;
}

.sousmenumobile
{
	padding-left:10px;
	display:none;
}

.basmenumobile
{
	border-style:solid;
	border-width:0px 0px 1px 0px;
	border-color:rgb(85,85,85);
}

.sousitemmenumobile
{
	display:flex;
	align-items:center;
	width:100%;
	height:46px;
	background:rgb(55,55,55);
	border-style:solid;
	border-width:0px 0px 1px 0px;
	border-color: rgb(85,85,85);	
	padding-left:10px;
}

.itemmenumobile :last-child{
	border:none;
}


.itembandeaumobile
{
	height:45px;
	display:flex;
	align-items:center;
	border-style:dotted;
	border-width:0px 0px 0px 1px;
	border-color:black;
	padding-left:8px;
	padding-right:8px;
	box-sizing:border-box;
}

.itembandeaumobilesansbordure
{
	height:45px;
	display:flex;
	align-items:center;	
	padding-left:8px;
	padding-right:8px;
}

.itembandeaumobilefondnoir
{
	height:45px;
	display:none;
	align-items:center;
	border-style:dotted;
	border-width:0px 0px 0px 1px;
	border-color:black;
	padding-left:8px;
	padding-right:8px;
	background:rgb(42,42,42);
}

#menumobile img {
	width:16px;
	height:16px;
	padding-left:10px;
}

#menumobile a 
{
	color:rgb(165,165,165);
	font-style:normal;
}

#piedmobile{
   background:#AA3939;	
   height:100px;
   overflow:hidden;
   width:100%;	
	display:flex;
	align-items:center; 
	justify-content:space-around;
}

#piedmobile .item
{
	display:flex;
	align-items:center;
	margin:0;
	padding-left:10px;
	padding-right:10px;
	height:25px;
	color:#FFFFFF;
}

#piedmobile a
{
	color:#FFFFFF;
	font-style:normal;
}

#pubresponsive
{
	width:100%;
	margin-bottom:8px;
	margin-top:60px;
}

.imgbios {
	display:block;
	margin:auto;
	margin-top:5px;
	width:250px;
}

.imgdroite {
	display:block;
	margin:auto;
	margin-top:5px;
	max-width:80%;
}


#contenugauche h1 {
	display:block;	
	font-size:1.4em;
	width:95%;
  color: rgb(119,0,24);
  font-weight:bold;
  margin:auto;
  	margin-top:15px;
  text-align:center;
  }
  
 .listesurdeuxcolonnes
{
    column-count: 1;
    -webkit-column-count:1;
    -moz-column-count:1;        
} 

}

@media screen and (max-width:400px) {
.itembandeaumobilesansbordure
{
	display:none;
}
}	



body {
	FONT-SIZE:1em; 
	FONT-FAMILY: "Lucida Sans","Trebuchet MS",sans-serif; 
	background:#ffffff;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

a:link { color:#000080; font-style:italic; text-decoration:none }
a:visited { color:#000080; font-style:italic; text-decoration:none }
a:hover {font-style:italic; color: #738CC6}
a:active { color:#000080; font-style:italic; text-decoration:none}	
  
.chemin {
	font-size:0.8em;
}

.chemin a {
	font-style:normal;
}


.liste li {
	background: url(../img/puce.png) no-repeat left 4px;
	list-style-type:none;
	margin:3px;
	padding-left: 20px;
	font-size:1.1rem;	
}


.listesurdeuxcolonnes li {
	background: url(../img/puce.png) no-repeat left 4px;
	list-style-type:none;
	margin:3px;
	padding-left: 20px;
}

.separator {
	font-size: 16px;
	color: rgb(118,21,21);
	font-weight:bold;
	border:1px solid;
   border-left-color:white;
   border-right-color:white;
   border-top-color:white;
   border-bottom-color:#D3D3D3;
   margin-top:5px;
   margin-bottom:10px;
}

.grastheo{
    font-family:  Helvetica, Verdana, Arial, sans-serif;	
    font-weight:bold;
		
}

.rougedico{
  color: rgb(118,21,21);	
  font-weight:bold;
}

.titrepartie{
  color:rgb(118,21,21);
  font-size: 1.3em;
  font-weight:bold;
  font-family:Arial,Helvetica;
  border:1px solid;
   border-left-color:white;
   border-right-color:white;
   border-top-color:white;
   border-bottom-color:#D3D3D3;
   margin-top:10px;
   margin-bottom:10px;
}	 

.savoirplus {
  min-height:80px;
  margin-bottom:30px;
}

.savoirplus img {
  float:left;
  }

.equation {
  text-align:center;
  margin-bottom:3px;
  margin-top:3px;
}

.equation img {
  float:none;
  }

.citation {
	background: #f8f9f0;
	border-color: #7aadbd;
	color: #566579;
	border-style: solid;
	border-width: 1px 1px 1px 3px;
	margin: 0.75em 1em;
	padding: 0.25em 0.75em;
	text-align:justify;	
}

.theo{  
    border-width: 1px 1px 1px 3px;
    border-style: solid; 
    border-color: #CCCCCC;
	background-color: #FFFFDD;
	margin:10px 10px 10px 10px;
	padding:3px;
}

.theotexte{
   border-width: 1px 1px 1px 3px;
    border-style: solid; 
    border-color: #CCCCCC;
	background-color: #FFFFDD;
	margin:10px 10px 10px 10px;
	padding:3px;	
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1.1em;
	line-height:1.3em;	
}

.spoiler {
	background: #f8f9f0;
	border-color: #7aadbd;
	color: #566579;
	border-style: solid;
	border-width: 1px 1px 1px 3px;
	border-radius: 3px;
	margin: 0.75em 1em;
	padding: 0 0.75em;
}

.spoiler .inner
    {
    border:1px solid #eee;
    padding:3px;margin:3px;
    }
    
p.texte::first-letter {
  font-family:script,cursive;
  font-size:3em;
  padding:0.2em 0.1em 0.2em 0.1em;
  float:left;
}    

p.texte {
	text-align:justify;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1.1em;
	line-height:1.3em;
}

p.dtexte {
	text-align:justify;
	text-indent:1em;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1.1em;
	line-height:1.3em;
}

p.ntexte {
	text-align:justify;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1.1em;
	line-height:1.3em;	
}

p.utexte {
	text-align:justify;
	text-indent:1em;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1em;
	line-height:1.3em;
}	

p.untexte {
	text-align:justify;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1em;
	line-height:1.3em;
}	

p.petit {
	margin-top:0.5em;
	font-size:0.8em;
}

.italic {
	font-style:italic;
}

.titrelivre {
	font-style:italic;
}

.formulairecrypto
{
	font-size:1em;	
	width:98%;
	margin:auto;
	margin-top:20px;
	box-sizing:border-box;
}

.formulairecrypto textarea
{
	width:100%;
	padding: 15px;
	margin-top: 10px;
	border:1px solid rgb(118,21,21);
	border-radius:5px;
	margin-bottom: 20px;
	resize:none;	
	font-size:1em;
	box-sizing:border-box;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
}

.formulairecrypto textarea:focus
{
	outline:none !important;
	border:3px solid rgb(118,21,21);
	box-shadow:0;
	padding:13px;
	box-sizing:border-box;
}

.formulairecrypto input[type=text]{
margin-bottom: 10px;
margin-top: 10px;
width:100%;
padding: 5px;
border-radius:5px;
border:1px solid rgb(118,21,21);
font-size:1em;
box-sizing:border-box;
}

.formulairecrypto input[type=text]:focus
{
	outline:none !important;
	border:3px solid rgb(118,21,21);
	box-shadow:0;
	padding:5px;
}	

.inputcle {
	width:auto !important;
	margin-left:5px !important;
	margin-right:5px !important;
	margin-top:0px !important;
	margin-bottom:3px !important;
	padding-top:1px !important;
	padding-bottom:1px !important;
	padding-left:5px !important;
	padding-right:5px !important;
}

.inputcle:focus {
	width:auto !important;
	margin-left:5px !important;
	margin-right:5px !important;
	margin-top:2px !important;
	margin-bottom:2px !important;
	padding-top:1px !important;
	padding-bottom:1px !important;
	padding-left:5px !important;
	padding-right:5px !important;
	border:1px solid rgb(118,21,21) !important;
}

.boiteboutons
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}

.formulairecrypto input[type=submit], .formulairecrypto input[type=button]
{
margin-bottom: 20px;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
border-radius:5px;
border:1px solid rgb(212,106,106);
background-color: rgb(212,106,106);
color: white;
font-size:1.1em;
cursor:pointer;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-right:10px;
margin-left:10px;
}

.formulairecrypto label
{
	display:block;
}

.formulairecrypto input[type=submit]:hover, .formulairecrypto input[type=button]:hover
{
background-color: rgb(118,21,21);
border-color:rgb(118,21,21);
}

table.tablecrypto, table.tablecryptoverticale
{
	border-collapse:collapse;
	margin: 5px auto;
	border: 1px solid gray;
}

.tablecrypto th
{
	background-color : rgb(118,21,21);
	color:white;	
	border: 1px solid gray;
}

.tablecryptoverticale th
{
	background-color : rgb(118,21,21);
	color:white;	
	border: 1px solid gray;
}

.tablecrypto th,td
{
	padding:5px 10px;
	vertical-align:middle;
	text-align:center;
}

.tablecryptoverticale th,td
{
	padding:5px 8px;
	vertical-align:middle;
	text-align:center;
}



.tablecrypto td
{
	border: 1px dotted black;
}

.tablecryptoverticale td
{
	border:1px dotted black;
}

.tablecrypto tr:nth-child(even) {background: rgb(212,106,106)}
.tablecrypto tr:nth-child(odd) {background: rgb(255,170,170)}

.tablecrypto tr:hover {
	background:#AA3939;
	color:white;
}

.tablecrypto .ligneprincipale
{
	background-color : rgb(111,0,24) !important;
	color:white;	
	border: 1px solid gray;
	padding-top:10px;
	padding-left:10px;
}

.tablecryptoverticale td:nth-child(even) {background: rgb(212,106,106)}
.tablecryptoverticale td:nth-child(odd) {background: rgb(255,170,170)}

.tablecrypto .colonneagauche
{
	text-align:left;
}

.boutonstandard{
	cursor:pointer;
	border-radius:5px;
	font-style:verdana;
	background:linear-gradient(#DDDDDD,#FFFFFF); 
}

.imgcentre {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:5px;
	max-width:98%;
}

.imgcentremoitie {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:5px;
	max-width:50%;
}	

/* Copie d'Alsacréations... */
.mosaic
{display:-webkit-box;display:-ms-flexbox;display:flex;
-ms-flex-wrap:wrap;flex-wrap:wrap;
-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between
}

.mosaic a:hover{text-decoration:none}

.mosaic::after
{content:"";
-webkit-box-flex:0;-ms-flex:0 0 31%;
flex:0 0 31%;padding:0;margin:0;background:0 0
}

.card{width:100%;
box-sizing:border-box;
display:-webkit-box;display:-ms-flexbox;display:flex;
-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;
line-height:1.5;
margin-bottom:1.5em;
margin-left:1em;
margin-right:1em;
background:#eee;
text-align:center
}



@media (min-width:700px)
{.card{width:45%}}

.card .image img{width:100%;height:200px;-o-object-fit:cover;object-fit:cover}

.card .meta,.card .title-link{padding:0 1em}
.card .text{margin-top:1rem;text-decoration:none;padding:0 2em;text-align:left;color:#606060;margin-bottom:1em;}
.card .by{margin-top:auto;text-align:left;padding:1em 2em}
.card .avatar{width:25px;height:25px;border:0;margin-right:1rem;vertical-align:middle}
.card .coms{float:right}
.card:hover
{
	box-shadow:0 2px 2px 0 rgba(96,96,96,.3);
	background:#ddd;
}
.card:focus{text-decoration:none}

table.tablebibmath 
{
	border-collapse:collapse;
	margin: 5px auto;
	border: 1px solid gray;
}

.tablebibmath th
{
	background-color : rgb(0,111,24);
	color:white;	
	border: 1px solid gray;
}

.tablebibmath th,td
{
	padding:5px 10px;
	vertical-align:middle;
}

.tablebibmath td
{
	border: 1px dotted black;
}

.tablebibmath tr:nth-child(even) {background: #DDD}
.tablebibmath tr:nth-child(odd) {background: #EEE}

.tablebibmath tr:hover {
	background:#AA3939;
	color:white;
}

/* Récupéré et modifié de l'ancienne version de cryptostyle */

.java
{
	color:rgb(212,106,106)	;
}	


.lexiqueinner
{
	padding:3px;
	margin:3px;
	font-size:14px;
}



