:root {
    --home-color-black: black;
    --home-color-white: white;
    --home-color-green: #229222;
    --home-color-gray:  #bdc3c7;
}

:root.sombre {
    --home-color-black: white;
    --home-color-white: #2d3436;
    --home-color-green: rgb(29, 125, 28);
    --home-color-gray: #171717;
}

/* Bloc Actualités */

#block-news {
    padding: 2rem;
    width: 100%;
    min-height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    background: var(--home-color-white);	
}

.news-list {
    max-width: 700px;
    margin: 0 auto;
}

.news-item {
    display: block;
    
    padding: 2rem 0;
    border-top: var(--home-color-gray) 1px solid;
    color: var(--home-color-black);
    text-align: left;
    font-style: normal !important;
}

.news-date {
    color: var(--home-color-gray);
}

.sombre .news-date {
    color: rgb(239, 239, 239);
}

.news-body {
    color: var(--home-color-black);
    font-weight: bold;
    font-size: 1.1em;
}