/* default light mode */
:root {
	--background-color-1: 250, 255, 250;
	--background-color-2: 100, 150, 100;
	--background-color-3: 231, 189, 231;
	--background-color-alt: 200, 200, 30;
	--text-color: 0, 0, 0;
	--heading-color: 35, 105, 35;
	--highlight-color: 180, 35, 35;
	--link-color: 50, 70, 150;
	--button-color: 251, 189, 231;
	--button-text-color: 0, 0, 0;
	
	--bullet-url: url(../img/bullet-light.png);

	--green-1: rgb(29,125,28);
	--green-2: #229222;
	--green-3: rgb(76,153,0);
	--green-4: rgb(89,178,0);
	--green-5: rgb(0,111,24);
}

@media screen { /* pour ne pas appliquer le mode sombre aux pages imprimées */
	:root.sombre {
		/* --background-color-1: #101510; */
		--background-color-1: 28, 27, 34;
		--background-color-2: 41, 54, 41;
		/* --background-color-2: #3c5e3c; */
		--background-color-3: 24, 66, 24;
		--background-color-alt: 120, 120, 30;
		/* main theme background color (header) */
		--text-color: 255, 255, 255;
		--heading-color: 150, 220, 150;
		--highlight-color: 220, 120, 120;
		--link-color: 160, 160, 230;
		--button-color: 4, 66, 24;
		--button-text-color: 255, 255, 255;

		--bullet-url: url(../img/bullet-dark.png);

		--green-1: #102a10;
		--green-2: #174d17;
		--green-3: #1f6b1f;
		--green-4: #278327;
		--green-5: #30a030;
	}
}


@media screen and (min-width:728px) {
	
#pubhaute {
	padding-top:20px;
	padding-left:0px;
	margin:auto;
	width:728px;
}

.r89-desktop-leaderboard-atf
{
	padding-top:20px;
	padding-left:10px;
	margin:auto;
	width:728px;
}	

.r89-mobile-billboard-top
{
	display:none;
}

}

@media screen and (max-height: 750px) and (min-width:728px) {
	
#sas_relative_container_26328{
	display:none;
}

#r89-desktop-billboard-low-1-0-wrapper{
	display:none;
}

#r89-desktop-billboard-low-0-wrapper{
	display:none;
}
	
}

@media screen and (max-width:727px) {
	
#pubhaute{
	width:100%;
	margin-bottom:8px;
	margin-top:60px;
}

.r89-mobile-billboard-top
{
	width:100%;
	margin-bottom:8px;
	margin-top:60px;	
}

.r89-desktop-leaderboard-atf
{
	display:none;
}

	
}


@media screen and (max-width: 880px) {
	:is(.item, .itemselectionne) img {
		display: none;
	}
}


@media screen and (min-width: 1076px)
{	
 
#bandeaucentre {
 	width:1074px;
}	

#menuhautcentre {
	width:1074px;	
}

#sousmenuhautcentre  {
	width:1074px;
}

#sousmenubascentre  {
	width:1074px;
}


#maincentre {
	width:1074px;	
}


#mainforum {
	width:1074px;
}

#droite
{
	font-size:0.9em;
	display:flex;
	flex-direction:column;
	align-items:center;
	width:310px;
	padding-top:10px;
	padding-right:5px;
	padding-left:10px;
	margin-left: 5px;
	margin-top:10px;
	border-left: 1px solid rgba(var(--heading-color), .4)
}


.stickypubdroite {
	position:sticky;
	top:50px;
}

#pubdroite {
	width: 287px;
}

.contenudroite 
{
	width: 100%;
	margin-bottom:30px;
	padding-left:0px;
	padding-bottom:10px;
	font-family:"Verdana";
}

.contenudroite li {
	background: var(--bullet-url) no-repeat 4px 4px;
    background-size: 8px 8px;
	font-size:0.9em;
	margin-left:10px;
	padding-left:20px;
	list-style:none;
}

.contenudroite h1 {
	background: rgba(var(--heading-color), .2);
	border-radius: 3px;
	padding-block: 5px;
	height: auto;
	margin-bottom: 15px;
	min-height: 20px;
	vertical-align: middle;
	white-space: nowrap;
	color: rgb(var(--heading-color));
	font-size: 1.3em;
	font-variant:small-caps;
	font-weight:bold;
	text-align:center;
}

.bascontenu {
	margin-top:10px;
	background: url(../img/main.png) no-repeat left center;
	padding-left:20px;
	margin-left:10px;
}

#gauche
{
	width:754px;
	padding-bottom:10px;
}

#pubgauche {
	padding-top:20px;
	padding-left:10px;
	margin-right:10px;
	width:728px;
}

#pubforum{
	padding-top:20px;
	padding-left:10px;
	margin:auto;
	width:728px;
}

.cours{
	font-size:1.1em;
	text-align:justify;
	padding-left:10px;
}

.dliste li {
	font-size:1.1em;
	text-align:justify;
	background: var(--bullet-url) no-repeat 0 6px;
	list-style-type:none;
	margin:3px;
	padding-left: 18px;	
}

.liste li {
	/* background: var(--bullet-url) no-repeat 0 6px; */
	background: var(--bullet-url) no-repeat 0 6px;
	list-style-type:none;
	margin:3px;
	padding-left: 18px;
}

}

@media screen and (max-width: 1075px) and (min-width:728px) {
#bandeau {
	width:100%;
}

#bandeaucentre {
	width:100%
}	

#menuhaut {
	width:100%
}

#menuhautcentre {
	width:100%
}

#sousmenuhaut, #sousmenubas {
	width:100%
}

#sousmenuhautcentre, #sousmenubascentre {
	width:100%
}

#maincentre {
	width:100%
}

#mainforum {
	width:100%
}

#listesousmenuhaut {
	font-size:0.9em;
}

#listesousmenubas {
	font-size:0.9em;
}

#droite {
	display:none;
}

#gauche
{
	width:100%;
	padding-bottom:10px;
}

#pubgauche{
	margin:auto;
    	width:728px;	
}

#pubforum {
	padding-top:20px;
	padding-left:10px;
	margin:auto;
    width:728px;	
}

.dliste li {
	font-size:1.1em;
	text-align:justify;
	background: var(--bullet-url) no-repeat 0 6px;
	list-style-type:none;
	margin:3px;
	padding-left: 18px;	
}

.liste li {
	background: var(--bullet-url) no-repeat 0 6px;
	list-style-type:none;
	margin:3px;
	padding-left: 20px;
}

}

@media screen and (min-width:728px) {
	
#bandeau {
	background: var(--green-1);
	height: 60px;
	overflow: hidden;
	/* max-width: 1300px; */
	margin-left: auto;
	margin-right: auto;
}	

#bandeaucentre {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px auto;
	height: 100%;
	background: var(--green-2);
	border-inline: 1px solid rgba(var(--heading-color), .4);
}  

#bandeaulogo
{
	/* background:green-2; */
	font-style: normal;
	color:#FFFFFF;
	font-family:"Avenir Book", "Avenir", "Lucida sans", "Verdana", "Trebuchet MS",sans-serif; 
	font-size:2.5em;
	height:50px;
	padding-left:10px;
}

#bandeaumilieu
{
	display:flex;
	align-items:center;
	color:white;
}

#bandeaumilieu a {
	display: flex;
	align-items: center;
}

#bandeaumilieu img 
{
	margin-left:5px;
	margin-right:5px;
}

#bandeaurecherche
{
	display: flex;
	align-items: stretch;
	background: white;
	height: 35px;
	overflow: hidden;
	margin-right: 15px;
	border-radius: 3px;
}	

.formulairerecherche
{
	margin: 0px;
}	

.inputrecherche
{
	width:223px;
	font-family:'Source Sans Pro',Helvetiva;
	font-size:14px;
	padding-left:12px;
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	border:0px;
	max-height:30px;
	margin:auto;
	outline: none;
}

.boutonrecherche
{
	border: 0px;
	border-radius: 0px;
	width: 35px;
	height: 35px;
	padding: 0px;
	margin-right: 5px;
	font-size: 0px;
	border: none;
	/* background: url(../img/recherche.png);*/
	background: white;
	cursor: pointer;
	/* background-position:0px 4px; */
}
.boutonrecherche img {
	width: 35px;
	height: auto;
}

#menuhaut {
	background:var(--green-3);
   overflow:hidden;
   /* max-width:1300px; */
   margin-left:auto;
   margin-right:auto;	
}

#menuhautcentre {
	display:flex;
	justify-content:space-between;
	background:var(--green-4);
	height:40px;
	overflow:hidden;
	/* max-width:1300px; */
	margin-left:auto;
	margin-right:auto;
	border-inline: 1px solid rgba(var(--heading-color), .4);
}

#menuhautgauche, #menuhautdroite {
	display:flex;
	align-items:center;
	background:var(--green-4);
	height:40px;
}

#menuhautdroite {
	margin-left:0px;
}

#menuhautgauche {
	margin-right:0px;
}

#listemenuhaut
{
	display: flex;
	align-items: center;
}

#listemenuhaut .item
{
	display:flex;
	align-items:center;
	margin:0;
	padding-left:10px;
	padding-right:10px;
	list-style:none;
	height:40px;
	color:#FFFFFF;
}

#listemenuhaut a
{
	color:#FFFFFF;
	font-style:normal;

	display: flex;
	justify-content: center;
	align-items: center;
}

#listemenuhaut .itemselectionne
{
	display:flex;
	align-items:center;
	margin:0;
	padding-left:10px;
	padding-right:10px;
	list-style:none;
	height:50px;
	color:#FFFFFF;
	background: var(--green-5);
}

#listemenuhaut .item:hover
{
	background:var(--green-1);
}


#listemenuhaut img
{
	padding-right:3px;
}

#sousmenuhaut, {
	background:rgba(var(--heading-color), .1);
	height:40px;
	overflow:hidden;
	/* max-width:1300px; */
	margin-left:auto;
	margin-right:auto;	
}

#sousmenubas 
{
	background:var(--green-1);
	/*height:40px;*/
	overflow:hidden;
	/* max-width:1300px; */
	margin-left:auto;
	margin-right:auto;		
	margin-bottom:100px;
	color:white;
}

#sousmenubas li {
	padding-bottom:2px;
	padding-top:2px;
}

#sousmenubas a{
color:white;
font-style:normal;
}

#sousmenubas a:hover{
	background:rgba(var(--background-color-1), .5);
}


#sousmenuhautcentre {
	display:flex;
	align-items:center;
	/* background: rgba(var(--heading-color), .05); */
	background: rgba(var(--background-color-1), .5);
	height:40px;
	margin:0px auto;
	border-inline: 1px solid rgba(var(--heading-color), .4);
	backdrop-filter: blur(4px);
}

#sousmenubascentre{
	display:flex;
	align-items:center;
	/* background: rgba(var(--heading-color), .05); */
/*	background: rgba(var(--background-color-1), .5);*/
	/* height:40px;*/
	margin:0px auto;
	border-inline: 1px solid rgba(var(--heading-color), .4);
	backdrop-filter: blur(4px);	
}

#listesousmenuhaut {
	display:flex;
	align-items:center;
	height:38px;
	border-bottom: 1px solid rgba(var(--heading-color), .4);
	width:97%;
	margin:auto;
	padding-left:4px;
	padding-right:4px;
}	

#listesousmenubas {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style:none;
	border-top: 1px solid rgba(var(--heading-color), .4);
	width:97%;
	margin:auto;
	padding-left:4px;
	padding-right:4px;
}	

#listesousmenuhaut a
{
	color: rgb(var(--text-color));
	font-style:normal;
}

.sousmenucontenu{
	display:flex;
	align-items:center;	
	height:38px;
}

.sousmenuitem{
	padding-top:7px;
	padding-left:10px;
	padding-right:10px;
	height:38px;
	box-sizing:border-box;
}

.sousmenuitem:hover{
	border-color: rgb(var(--text-color));
	border-style:solid;
	border-width:0px 0px 1px 0px;
	box-sizing:border-box;	
}

.sousmenuitemselectionne
{
	padding-top:7px;
	padding-left:10px;
	padding-right:10px;
	height:38px;
	border-color:rgb(0,156,33);
	border-style:solid;
	border-width:0px 0px 3px 0px;
	box-sizing:border-box;
}

#main {
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	/* max-width:1300px; */
	background: rgb(var(--background-color-1));
}

#maincentre {
	display:flex;
	justify-content:space-between;
	margin: auto;
	background-color: rgb(var(--background-color-1));
	color: rgb(var(--text-color));
	min-height:100%;
	padding: 5px;
	border-inline: 1px solid rgba(var(--heading-color), .4);
}

#mainforum {
	margin: auto;
	background:#FFFFFF;
	min-height:100%;
	padding-bottom:10px;
}	

.sombre #mainforum {
	background: #1a1a1a;
}

.decale {
	margin-top:80px;
}

.fixed {position:fixed;width:100%;top:0;left:0;z-index:9999;}

.fixedpub {position:fixed;top:100px;}

.decalepub {position:static;}

.imgbios
{
	float:right;
	margin-left: 2rem;
	margin-bottom: 2rem;
	margin-right:0;
	width:250px;
}

.imgcontenu
{
	width:250px;
}

.imgdroite
{
	float:right;
	margin:0.8em;
	margin-right:0;
}

#contenugauche{
	padding-top:20px;
	padding-left:14px;
	padding-right:14px;
    width:100%;	
}

#contenugauche h1 {
	font-size:1.7em;
	display:block;
	width:80%;
	color: rgb(var(--heading-color));
	font-weight:bold;
	margin:auto;
	margin-top:25px;
	margin-bottom:20px;
	text-align:center;
}

#bandeaumobile
{
	display:none;
}

#recherchemobile
{
	display:none;
}

#pubresponsive
{
	display:none;
}

#menumobile
{
	display:none;
}

.listesurdeuxcolonnes
{
    column-count: 2;
    -webkit-column-count:2;
    -moz-column-count:2;        
	padding-left:40px;
}

.r89-mobile-rectangle-mid
{
	display:none;
}

}



@media screen and (max-width:727px) {

r89-desktop-InContent
{
	display:none;
}


body {
	margin:0px;
	box-sizing:border-box;
}

#bandeau {
   display:none;
}
#menuhaut {
  display:none;
  } 
 
.decale {
}

.fixed {}

#droite{
	display:none;
}

/* Pour que la pub pavé droit de The Moneytizer ne s'affiche pas ! */

#sas_26300{ 
	display:none;
}

#sousmenuhaut, #sousmenubas {
	display:none;
}

#maincentre {
	margin:8px;
}

#mainforum {
	margin:8px;
}

#main {
	margin-top:55px;
}


#pubgauche {
	display:none;
}

#pubforum {
	display:none;
}

#bandeaumobile {
   position:fixed;
   top:0px;
   width:100%;
   height:45px;
   background: var(--green-2);	
	font-family:"Avenir Book", "Avenir", "Lucida sans", "Verdana", "Trebuchet MS",sans-serif; 
	font-size:1.5em;	
	color:#FFFFFF;
	font-variant:small-caps;
	display:flex;
	justify-content:space-between;
	align-items:center;
	z-index:100;
}

#bandeaumobile img {
	height:32px;
	width:32px;
}

#bandeaumobile a {
	display:flex;
}

.sousbandeaumobile
{
	height:45px;
	display:flex;
	align-items:center;
}

#recherchemobile {
	margin-top:45px;
	width:100%;
	z-index:100;
	display:none;
	background-color:rgb(24,104,24);
	height:56px;
	overflow:hidden;
	padding:10px 10px;
	box-sizing:border-box;
	position: fixed;
	top: 0px;
	left: 0px;
}

#formrecherchemobile {
	background-color:white;	
	height:30px;
	width:100%;	
	display:table;
	border-spacing:5px;
}

.divinputrecherche{
	display:table-cell;
	vertical-align:middle;
	height:24px;
}

.inputrecherche
{
	font-family:'Source Sans Pro',Helvetica;
	padding-top:0px;
	padding-bottom:0px;
	height:24px;
	border:0px;
	font-size:1em;
	width:100%;
}

.divboutonmobile{
	        display:table-cell;
	vertical-align:middle;   
	width:30px;
}

.boutonrecherche
{
	border:0px;
	border-radius:0px;
	width:28px;
	height:24px;
	padding:0px;
	font-size:0px;
	border:none;
        background: transparent url(../img/recherche.png) no-repeat;     
        box-sizing:border-box;
}



#menumobile
{
	margin-top:45px;
	width:100%;
	background:rgb(42,42,42);
	color:rgb(165,165,165);
	z-index:100;
	display:none;
	position: fixed;
	top: 0px;
	left: 0px;
	max-height: 100%;
	overflow: auto;
}

.itemmenumobile
{
	box-sizing:border-box;
	width:100%;	
	border-style:solid;
	border-width:0px 0px 1px 10px;
	border-color:rgb(0,0,0) rgb(0,0,0) rgb(85,85,85) rgb(42,42,42);
	overflow:hidden;
	padding-left:10px;
}


.itemmenumobileselectionne
{
	box-sizing:border-box;
	width:100%;	
	border-style:solid;
	border-width:0px 0px 1px 10px;
	border-color:rgb(0,0,0) rgb(0,0,0) rgb(85,85,85) var(--green-2);
	overflow:hidden;
	padding-left:10px;
}

.teteitemmenumobile
{
	display:flex;
	align-items:center;
	height:46px;
}

.containermenumobile
{
	height:100%;
	width:100%;
	overflow:hidden;
}

.sousmenumobile
{
	padding-left:10px;
	display:none;
}

.basmenumobile
{
	border-style:solid;
	border-width:0px 0px 1px 0px;
	border-color:rgb(85,85,85);
}

.sousitemmenumobile
{
	display:flex;
	align-items:center;
	width:100%;
	height:46px;
	background:rgb(55,55,55);
	border-style:solid;
	border-width:0px 0px 1px 0px;
	border-color: rgb(85,85,85);	
	padding-left:10px;
}

.itemmenumobile :last-child{
	border:none;
}


.itembandeaumobile
{
	height:45px;
	color: white !important;
	font-style: normal !important;
	display:flex;
	align-items:center;
	border-style:dotted;
	border-width:0px 0px 0px 1px;
	border-color:black;
	padding-left:8px;
	padding-right:8px;
	box-sizing:border-box;
}

.itembandeaumobilesansbordure
{
	height:45px;
	display:flex;
	align-items:center;	
	padding-left:8px;
	padding-right:8px;
}

.itembandeaumobilefondnoir
{
	height:45px;
	display:none;
	align-items:center;
	border-style:dotted;
	border-width:0px 0px 0px 1px;
	border-color:black;
	padding-left:8px;
	padding-right:8px;
	background:rgb(42,42,42);
}

#menumobile img {
	width:25px;
	height:auto;
	padding-left:10px;
}

#menumobile a 
{
	color:rgb(165,165,165);
	font-style:normal;
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
	cursor: pointer;
}

#pubresponsive 
{
	width:100%;
	margin-bottom:8px;
	margin-top:60px;
}

.imgbios {
	display:block;
	margin:auto;
	margin-top:5px;
	width:300px;
}

.imgdroite {
	display:block;
	margin:auto;
	margin-top:5px;
}


#contenugauche h1 {
	display:block;	
	font-size:1.4em;
	width:95%;
	color: rgb(var(--heading-color));
	font-weight:bold;
	margin:auto;
	margin-top:15px;
	text-align:center;
}

ul,ol
{
	padding-left:15px;
}

.listesurdeuxcolonnes
{
    column-count: 1;
    -webkit-column-count:1;
    -moz-column-count:1;        
} 

.dliste li {
	font-size:1.1em;
	text-align:justify;
	background: var(--bullet-url) no-repeat 0 6px;
	list-style-type:none;
	margin:3px;
	padding-left: 18px;	
}

.liste li {
	background: var(--bullet-url) no-repeat 0 6px;
	list-style-type:none;
	margin:3px;
	padding-left: 18px;
}

.liste ul {
	padding-left:15px;
}

.listesurdeuxcolonnes ul {
	padding-left:15px;
}

}

@media screen and (max-width:400px) {
.itembandeaumobilesansbordure
{
	display:none;
}
}	



html, body {
	font-size:1em;
	color: rgb(var(--text-color));
	background:rgb(var(--background-color-1));
	padding: 0;
	margin: 0;
}
:not(.MathJax_CHTML):not(.MathJax_CHTML  *) {
    font-family: "Inter", system-ui, sans-serif !important;
}

.MJXc-display {
	overflow-x: scroll;
	overflow-y: hidden;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

a { font-style: normal !important; }
a:link { color:#000080; font-style:italic; text-decoration:none }
a:visited { color:#000080; font-style:italic; text-decoration:none }
a:hover {font-style:italic; color: #738CC6}
a:active { color:#000080; font-style:italic; text-decoration:none}	


.chemin {
	font-size:0.8em;
	display: block;
    width: max-content;
    padding: 1px 3px;
    color: rgb(var(--link-color), .5);
    /* background: rgba(var(--link-color), .1); */
    border: 1px solid rgba(var(--link-color), .2);
    border-radius: 5px;
	max-width: 100%;
}
.chemin:not(:last-child) {
    margin-bottom: 5px !important;
}

.chemin a {
	font-style:normal;
}

.listetexte li {	
	font-size:1.1em;
	text-align:justify;
}

.listesurdeuxcolonnes li {
	background: var(--bullet-url) no-repeat 0 6px;
	list-style-type:none;
	margin:3px;
	padding-left: 20px;
}

.separator {
	font-size: 16px;
	color: rgb(var(--heading-color));
	font-weight:bold;
	border-bottom: 1px solid rgb(var(--heading-color));
	padding-bottom: 5px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left: 15px;
}

.grastheo{
    font-family:  Helvetica, Verdana, Arial, sans-serif;	
    font-weight:bold;
		
}

.rougedico{
	color: rgb(var(--highlight-color));
	background-color: rgba(var(--highlight-color), .2);
	border-radius: 5px;
	padding: 1px;
	padding-inline: 3px;
	font-weight: 600;
}

.titrepartie {
	color:rgb(var(--heading-color));
	font-size: 19px;
	font-weight:bold;
	font-family:Arial,Helvetica;
	border-bottom: 1px solid rgb(var(--heading-color));
	padding-bottom: 5px;
	margin-top:10px;
	margin-bottom:10px;
}	 

.savoirplus {
  min-height: 100px;
  padding: 1em 0;
  margin: 1em 0;
  font-size: 1.1em;
  line-height: 1.3em;

  border-top: rgb(var(--heading-color)) 1px solid;

}

.savoirplus img {
  float:left;
  width: 100%;
  max-width: 100px;
  width: auto;
  padding: 0 1rem .2rem 0;
}

center img {
	max-width: 100%;
}

.equation {
  text-align:center;
  margin-bottom:3px;
  margin-top:3px;
}

.equation img {
  float:none;
  }

.citation {
	background: #f8f9f0;
	border-color: #7aadbd;
	color: #566579;
	border-style: solid;
	border-width: 1px 1px 1px 3px;
	margin: 0.75em 1em;
	padding: 0.25em 0.75em;
	text-align:justify;	
}

.theo, .theotexte {
	margin: 10px 0;
	background-color: rgba(var(--background-color-alt), .2) !important;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(var(--background-color-alt), .5);
	line-height: inherit;
}

.utheo{  
    border-width: 1px 1px 1px 3px;
    border-style: solid; 
    border-color: #CCCCCC;
	background-color: #FFFFDD;
	margin:10px 10px 10px 10px;
	padding:3px;
	text-align:justify;	
}

.theocours {  
    border-width: 1px 1px 1px 3px;
    border-style: solid; 
    border-color: #CCCCCC;
	background-color: #FFFFDD;
	margin:10px 10px 10px 10px;
	padding:3px;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1.1em;
	text-align:justify;
}

.theotexte {
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1.1em;
	text-align:justify;
	line-height:1.3em;	
}

.exemple {
	border-width: 0px 0px 0px 2px;
	border-style:solid;
	border-color:rgb(var(--heading-color));
	margin-left:2px;
	padding-left:8px;
	text-align:justify;
}

.spoiler {
	background: transparent;
	border: 1px solid rgba(var(--background-color-alt), .5);
	color: rgb(var(--text-color));
	border-radius: 5px;
	margin: 0;
	padding: 0;
}
.spoiler:last-child {
    margin-bottom: 0;
}

.spoiler input[type="button"] {
    background: transparent;
    color: rgb(var(--button-text-color));
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    font-size: inherit;
    cursor: pointer;
}
.spoiler input[type="button"]:nth-last-child(2) {
    margin-bottom: 0 !important;
}

.spoiler .inner {
	color: rgb(var(--text-color));
	padding: 10px;
}
    
p.texte::first-letter {
  
	/* font-family:script,cursive;
  font-size:3em;
  padding:0.2em 0.1em 0.2em 0.1em;
  float:left; */

  padding-left: 1em;

}    

p.texte {
	text-align:justify;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1.1em;
	line-height:1.3em;
}

p.dtexte {
	text-align:justify;
	text-indent:1em;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1.1em;
	line-height:1.3em;
}

p.ntexte {
	text-align:justify;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1.1em;
	line-height:1.3em;	
}

p.utexte {
	text-align:justify;
	text-indent:1em;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1em;
	line-height:1.3em;
}	

p.untexte {
	text-align:justify;
	font-family:"Lucida Sans","Trebuchet MS",sans-serif;
	font-size:1em;
	line-height:1.3em;
}	

p.petit {
	margin-top:0.5em;
	font-size:0.8em;
}

.italic {
	font-style:italic;
}

.titrelivre {
	font-style:italic;
}

/* Le style des listes de lettres pour la recherche alphabétique dans le dictionnaire */
.circle {
    margin:2px;
    width:25px;
    height:25px;
	border: 1px solid rgb(var(--link-color), .5);
    text-align:center;
    border-radius:0px;
    line-height: 22px;
	flex:initial;
}
.circle:first-child {
    border-radius: 3px 0 0 3px;
}
.circle:last-child {
    border-radius: 0 3px 3px 0;
}
.circle a {
	display: block;
	width: 100%;
	height: 100%;
}

.circle:hover
{
	background:rgb(var(--link-color), .3);
}

.circle a:link { font-style:normal; text-decoration:none }
.circle a:visited { font-style:normal; text-decoration:none }
.circle a:hover { font-style:normal; text-decoration:none;  }
.circle a:active { font-style:normal; text-decoration:none }

.listedico
{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	margin:auto;
	width:300px;
}

.formulairebibmath
{
	font-size:1em;	
	width:95%;
	margin:auto;
	margin-top:20px;
	box-sizing:border-box;
}

.sombre .formulairebibmath textarea,
.sombre .formulairebibmath input[type="text"],
.sombre .formulairebibmath input[type="number"] {
	color: white;
}

.sombre textarea,
.sombre input[type="text"],
.sombre input[type="number"] {
	background: black !important;
	color: white !important;
	border: none !important;
}


.formulairebibmath textarea
{
	width:100%;
	padding: 15px;
	margin-top: 10px;
	border:1px solid rgb(0,119,24);
	border-radius:2px;
	margin-bottom: 10px;
	resize:none;	
	font-size:1em;
	box-sizing:border-box;
	background: none;
}

.formulairebibmath textarea:focus
{
	outline:none !important;
	border:2px solid rgb(0,119,24);
	padding: 14px;
	box-shadow:0;
}

.formulairebibmath input[type=text]{
margin-bottom: 10px;
margin-top: 10px;
width:100%;
padding: 8px;
border-radius:2px;
border:1px solid rgb(0,119,24);
font-size:1em;
box-sizing:border-box;
background: none;
}

.formulairebibmath input[type=number]
{
	border-radius:5px;
	border:1px solid rgb(0,119,24);
	font-size:1em;
	padding:6px;
	box-sizing:border-box;
}

.formulairebibmath input[type=number]:focus
{
	border-radius:5px;
	border:2px solid rgb(0,119,24);
	font-size:1em;
	padding:4px;
	box-sizing:border-box;
}

.formulairebibmath input[type=text]:focus
{
	outline:none !important;
	border:2px solid rgb(0,119,24);
	box-shadow:0;
	padding:7px;
}	

.formulairebibmath select{
margin-bottom: 10px;
margin-top: 10px;
width:100%;
padding: 5px;
border-radius:5px;
border:1px solid rgb(0,119,24);
font-size:1em;
box-sizing:border-box;
background-color: var(--green-3);
color:white;
}	

.sombre select {
	border: black;
	outline: none;
	background: rgb(65, 65, 65);
	color: white;
}

.formulairebibmath input[type=submit], .formulairebibmath input[type=button]
{
margin-bottom: 20px;
width:100%;
padding-top:15px;
padding-bottom:15px;
padding-left:0px;
padding-right:0px;
border-radius:2px;
border:1px solid var(--green-3);
background-color: var(--green-3);
color: white;
font-size:1.1em;
cursor:pointer;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.sombre .formulairebibmath input[type=submit], 
.sombre .formulairebibmath input[type=button] {
	background: rgb(0,111,24);
	border: none;
}

.formulairebibmath input[type=submit]:hover, .formulairebibmath input[type=button]:hover
{
	background-color: rgb(0,111,24);
}

.sombre .formulairebibmath input[type=submit]:hover, 
.sombre .formulairebibmath input[type=button]:hover {
	background: rgb(0, 75, 16);
}

table.tablebibmath 
{
	border-collapse:collapse;
	margin: 5px auto;
	border: 1px solid rgba(var(--text-color), .1);
	border-radius: 3px;
}

.tablebibmath th
{
	background-color : rgba(var(--heading-color), .2);
	color:white;	
	border: 1px solid rgba(var(--text-color), .1);
}

.tablebibmath th,td
{
	padding:5px 10px;
	vertical-align:middle;
}

.tablebibmath td
{
	border: 1px dotted black;
}

.tablebibmath tr:nth-child(even) {background: rgba(var(--text-color), .05)}
.tablebibmath tr:nth-child(odd) {background: rgba(var(--text-color), .1)}

.tablebibmath tr:hover {
	background:rgba(var(--heading-color), .2);
}

.boutonstandard{
	cursor:pointer;
	border-radius:5px;
	font-style:verdana;
	background:linear-gradient(#DDDDDD,#FFFFFF); 
}

.imgcentre {
	display:block;
	margin:0.8em auto;
	max-width:98%;
}

.boutonsvideo {
	background:rgba(var(--highlight-color), .2);
	color: rgb(var(--button-text-color));
	border: 1px solid rgba(var(--highlight-color), .3);
	border-radius: 5px;
	width: 100%;
	font-style:verdana;
	font-size: inherit;
	text-decoration: none;
	padding: 10px;
	margin-block: 10px;
	cursor: pointer;
}
.boutonsvideo:nth-last-child(2) {
    margin-bottom: 0;
}

.boutonsvideo span
{
	background:url(../img/youtubefleche.png) no-repeat 0px -1px;
	padding-left:30px;
}


.boutonsvideo:hover{
	background: rgba(var(--highlight-color), .3);
}

/*  La "carte" affichée sur la page d'accueil */

.cardephemeride
{width:95%;
box-sizing:border-box;
display:-webkit-box;display:-ms-flexbox;display:flex;
-ms-flex-direction:row;flex-direction:row;
align-items:stretch;
line-height:1.5;
margin-bottom:3rem;
margin-left:1em;
margin-right:1em;


}

.cardephemeride a:link { color:#000080; font-style:normal; text-decoration:none }
.cardephemeride a:visited { color:#000080; font-style:normal; text-decoration:none }
.cardephemeride a:hover {font-style:italic; font-style:normal; color: #738CC6}
.cardephemeride a:active { color:#000080; font-style:normal; text-decoration:none}	

.titrepartie a:link {   color:rgb(0,119,24); font-style:normal; text-decoration:none }
.titrepartie a:visited {   color:rgb(0,119,24); font-style:normal; text-decoration:none }
.titrepartie a:hover {font-style:italic; font-style:normal;   color:rgb(0,149,54);}
.titrepartie a:active {   color:rgb(0,119,24);font-style:normal; text-decoration:none}	

.cardephemeride .contenu {
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	/* justify-content:space-between; */
	/* flex:1; */
	gap: 1rem;
	align-items:flex-start;
	text-align: left;
}

.cardephemeride h3 
{
		font: 19px "Open Sans",sans-serif;
		font-weight:bold;
		line-height: 22px;
		text-transform:uppercase;
		color: #8FBD00;
		text-align:left;
		margin-top:2px;
		margin-bottom:2px;
}

.cardephemeride .titre
{
		text-align:left;
		font-style:normal;
		color:black;
		font-weight: bold;
		font-size: 1.3em !important;
}

.cardephemeride .lien
{
	/* align-self:flex-end;
	font-style: normal;
	bottom:0px; */
	display: none;
}

/* .cardephemeride .lien::after {
	content: " →";
} */

@media screen and (min-width:729px) {
.cardephemeride img
{
	width:200px;
	max-height:250px;
	margin-left:20px;
	margin-right:20px;
	padding-left:20px;
	padding-right:20px;
}

.cardephemeride .texte
{
	color:black;
	font-style:normal;
	
}

.cardephemeride .titre
{
	font-size:19px;
}

}



@media screen and (max-width:728px)
{
	
.cardephemeride .image{	
	width:25%;
	min-width:70px;
	padding-right:15px;
	padding-top:8px;
}
	
.cardephemeride img
{
	width:100%;
	margin:auto;
	margin-left:4px;
	margin-right:4px;
	padding-left:4px;
	padding-right:4px;
}

.cardephemeride .texte
{
	display:none;
}

.cardephemeride .contenu {
	justify-content: center;
}
}

@media screen and (max-width: 425px) {
	.cardephemeride .image {
		width: 50%;
		
	}

	.cardephemeride img {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

/* Les cartes pour les cours */

.cardcours {
	display:flex;
	flex-direction:column;
	align-items:stretch;
	line-height:1.5;
	padding: 0.5em;
	/* background: linear-gradient(#d8d8d8, #fff);  */
	border-radius: 0px 0px 0px 0px;
	border-left:2px;
	border-color:black;
}

.cardcours a:is(:link, :visited, :hover, :active) {
	font-style: normal;
	text-decoration: none;
}

.cardcours .titrecours {
	border-radius: 5px;
	border: 1px solid rgba(var(--heading-color), .1);
	background: rgba(var(--heading-color), .1);
	color: rgb(var(--heading-color));
	font-size: 17px;
	padding-block: 5px;
	padding-right: 40px;
	padding-left: 8px;
	width: 100%;
	cursor: pointer;
	position: relative; /* permet de créer un nouveau contexte d'empilement pour pouvoir placer le ::after en position absolute relativement à .titrecours */
}

.cardcours .titrecours.activecours {
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}

.titrecours:hover { 
	color: rgba(var(--heading-color), .6);
}
.titrecours:hover::after { 
	color: rgba(var(--heading-color), .6);
}

.cardcours .liste .listeone li {
	background: var(--bullet-url) no-repeat 0 6px;
	list-style-type:none;
	margin:3px;
	padding-left: 20px;
}

.cardcours .contenucours
{
	background: rgba(var(--heading-color), .05);
	padding: 10px;
	border-radius: 0 0 5px 5px;
	border: 1px solid rgba(var(--heading-color), .1);
	border-top: none;
	display:none;
	overflow:hidden;
}

.titrecours:after {
	/* content: '\02795'; Unicode character for "plus" sign (+) */
	content: '+';
	font-family: monospace;
	font-size: 28px;
	color: rgb(var(--heading-color));
	margin-inline: 5px;
	position: absolute;
	top: -6px;
	right: 8px;
	transform-origin: 7px 24px;
	transition: .1s;
}

.activecours:after {
	/* content: "\2796"; Unicode character for "minus" sign (-) */
	/* content: '>'; */
	transform: rotate(45deg);
}

.cardcours .liste {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
}


/* 
MODE SOMBRE - Expérimental
Le mode sombre de Bibmath n'est pas encore 100 % opérationnel :
certaines pages ne sont que partiellement couvertes et il reste
quelques soucis de contraste. Essuyez les plâtres !
*/

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

@font-face {
    font-family: "Inter";
    src: var(--font-url) format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
} */

/* Divers */

:is(.chemin, #droite, #contenugauche) a:is(:link, :visited) {
    color: rgb(var(--link-color));
}
:is(.chemin, #droite, #contenugauche) a:hover {
    color: rgba(var(--link-color), .7);
}

.cours {
    padding-inline: 10px;
}

.cours ~ .cardcours {
    box-sizing: border-box;
    width: 100%;
    margin-inline: 0px;
    margin-top: 20px;
    padding-inline: 10px;
}

/* .sombre :not(:is(.theo, .exo, .theotexte)):not(:is(.theo *, .exo *, .theotexte *)) > .MathJax_CHTML {
    background: rgba(var(--background-color-alt), .3) !important;
    padding: 1px 3px !important;
    border-radius: 5px;
}

.sombre .MJXc-display .MathJax_CHTML {
    padding: 7px 5px !important;
    border-radius: 10px;
} */

/* HOME */
.sombre h3.theme {
    color: rgb(var(--heading-color));
}

.sombre .contenu * {
    color: rgb(var(--text-color));
}

.sombre .lien {
    color: rgb(var(--link-color));
}

.sombre div.text {
    color: rgb(var(--text-color));
}

/* bouton de changement de thème */
.theme-btn {
	user-select: none;
	cursor: pointer;
	display: flex;
	align-items: center;
}

/* print rules */

@media print {

	body {
		margin-left: 13pt;
		margin-right: 13pt;
	}

	#bandeau, #bandeaumobile, #recherchemobile {
		display: none;
	}

	#menuetsousmenu {
		display: none;
	}

	#droite {
		display: none;
	}

	#pubhaute, #pubdroite {
		display: none;
	}

	.chemin {
		display: none;
	}

	.spoiler .inner {
		display: block !important;
	}

	.boutonsvideo {
		display: none;
	}

	.cardcours {
		display: none;
	}
}

img[src="../img/flechedroite.png"], img[src="../img/flechebas.png"] {
	height: 12px;
}
.clair :is(img[src="../img/flechedroite.png"], img[src="../img/flechebas.png"]) {
	filter: brightness(0.6);
}

/* Lexique */

.lexique-barre-recherche {

	width: 100%;
	font-size: inherit;
	border: gray 1px solid;
	padding: .5em 1em;
	border-radius: 3px;
	background: white;
	outline: none;

}

.sombre .lexique-barre-recherche {
	background: none;
	color: white;
}

.sombre .lexique-barre-recherche::placeholder {
	
}

.lexique-boutons-contenant {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.lexique-bouton {
	font-size: inherit;
	text-align: center;
	background: rgb(var(--heading-color));
	color: white;
	padding: .5rem;
	outline: none !important;
	border: none;
	box-shadow: none;
	border-radius: 3px;
}

.sombre .lexique-bouton {
	background: darkgreen;
}

.lexique-bouton:hover {
	cursor: pointer;
	background: rgba(var(--heading-color), .8);
}

.sombre .lexique-bouton:hover {
	cursor: pointer;
	background: rgb(0, 67, 0);
}

/* recherche.php */

#___gcse_0 * {
	color: rgb(var(--text-color)) !important;
}

#___gcse_0 a.gs-title,
#___gcse_0 a.gs-title b {
	color: rgb(var(--link-color)) !important;
}

.gsc-control-cse {
	background: none !important;
	border: none !important;

}

.gsc-results {
	background: none !important;
}

.gsc-webResult.gsc-result {
	background: none !important;
	border: none !important;
}

.gcsc-more-maybe-branding-root {
	display: none;
}

.gsc-thumbnail {
	display: none;
}

#___gcse_0 .gs-visibleUrl * {
	color: rgb(var(--text-color), .7) !important;
}

#___gcse_0 .gs-visibleUrl *:first-child {
	display: none !important;
}


.gsc-cursor-page {
	background: none !important;
}

.gsc-selected-option-container,
.gsc-selected-option {
	background: none !important;
	cursor: pointer !important;
	box-shadow: none !important;
}

.gsc-selected-option-container {
	border: rgba(var(--text-color), .2) 1px solid !important;
}

.gsc-selected-option {
	font-weight: normal !important;
}

.gsc-option-menu,
.gsc-option-menu * {
	background: rgb(var(--background-color-1)) !important;
	box-shadow: none !important;
}


/* code */

.code {
	background: lightgray;
	border: gray 2px solid;
	padding: 1rem;
	font-family: monospace !important;
	line-height: 1.5em;
}

/* footer */

.footer {
	width: 100%;
	background-color: var(--green-3);
	color: white;
}

@media print {
	.footer {
		display: none;
	}
}

.sombre .footer {
	color: rgb(216, 216, 216);
}

.footer-lists {
	background-color: var(--green-1);
	padding-bottom:100px;
	max-width: 1074px;
	margin: 0 auto;
	
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

@media screen and (max-width: 1076px) {
	.footer-lists { grid-template-columns: repeat(5, 1fr); }
}

@media screen and (max-width: 915px) {
	.footer-lists { grid-template-columns: repeat(4, 1fr); }
}

@media screen and (max-width: 729px) {
	.footer-lists { grid-template-columns: repeat(3, 1fr); }
}

@media screen and (max-width: 534px) {
	.footer-lists { grid-template-columns: repeat(2, 1fr); }
}

@media screen and (max-width: 370px) {
	.footer-lists { grid-template-columns: repeat(1, 1fr); }
}

.footer-list {
	list-style: none;
}

.footer-list li {
	padding-bottom: .4rem;
}

.footer-list-title {
	/* text-transform: capitalize; */
	font-weight: bold;
}

.footer-list a {
	color: inherit;
	font-style: normal;
	transition-duration: .2s;

}

.footer-list a:hover {
	filter:brightness(.8)
}


@media screen and (max-width: 500px) {
	
	.footer-list {
		margin: .4em;
	}

	.footer-lists {
		padding: 1.5rem 0;
		padding-bottom:100px;
	}

}

.sombre .ui-widget-content {
	filter: invert();
}