.deuxcolonnesformulaire {
	column-count:2;
   -webkit-column-count:1;
    -moz-column-count:1;        
}

@media (max-width: 767px) {
	.titrepartieformulairemobile { 
		padding: 0.5em; border-radius: 5px; border: 1px solid #ccc; box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
		background: #ddd;
		position: relative;
		margin-top:10px;

	}

	.titrepartieformulairemobile:after {
		content:"";
		display: block;
		position: absolute;
		right: 20px;
		top: 40%;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #000;
	}
	.titrepartieformulairemobile:hover,
	.titrepartieformulairemobile--active:hover { background-color: #efefef}
	.rtitrepartieformulairemobile-active { background: #fff;}
	.titrepartieformulairemobile--active:after {
		border-bottom: 10px solid #000;
		border-top:0;
	 }
	 
	 .titrepartieformulaire {
	 	display:none;
	 }
	 
	 .innerpartie {
	 	display:none;
	 }
.listesurdeuxcolonnes
{
    column-count: 1;
    -webkit-column-count:1;
    -moz-column-count:1;        
}		 

.blocformulaire {
	display:block;
}
	 
}

@media (min-width: 768px) {
	.titrepartieformulairemobile {
		display:none;
	}
	
	.titrepartieformulaire {
		color:rgb(var(--heading-color));
		font-size: 19px;
		font-weight:bold;
		font-family:Arial,Helvetica;
		border-bottom: 1px solid rgb(var(--heading-color));
		padding-bottom: 5px;
		margin-top:10px;
		margin-bottom:10px;
	}
	
	.innerpartie {
		display:block;
	}
	
.listesurdeuxcolonnes
{
    column-count: 2;
    -webkit-column-count:2;
    -moz-column-count:2;        
}	

.blocformulaire {
	display:inline-block;
}
}

.soustitreformulaire {
	color:rgb(var(--highlight-color));
	font-weight:bold;
}



.innerpartie{
	margin-left:10px;	
	margin-top:10px;
	margin-bottom:10px;
}

